.contact_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background: rgba(0, 0, 0, 0.592);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0px 10px;

  .form {
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 400px;
    position: relative;

    .cross {
      position: absolute;
      right: 5px;
      border-radius: 50%;
      top: 5px;
      width: 30px;
      aspect-ratio: 1;
      background-color: var(--accent);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--white);
    }

    .input-wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 18px;

      label {
        margin-bottom: 6px;
        font-weight: 500;
        color: #c9c8c8;
      }

      input,
      textarea {
        padding: 10px 12px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: var(--unit);
        outline: none;
      }

      input:focus,
      textarea:focus {
        border: 1.5px solid #b5d6fa;
      }
    }
  }
}
