.top_header_parent {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .top_header_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--unit);

      h1 {
        padding: 10px 0px;
        line-height: 100%;
        font-size: var(--unit);
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      padding: 10px 0px;

      a {
        color: var(--black);
        text-decoration: none;
        cursor: pointer;
        font-size: 18px;


      }

      .toggle_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: #d3d2d2;
        border-radius: 5px;

        .button {
          width: 50%;
          height: 100%;
          padding: 4px 8px;

          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 12px;

          &.active {
            background-color: #ff7a22;
            color: var(--white);
            border-radius: 5px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width:472px) {
    .top_header_parent{

        .top_header_cont{
            .left{
                h1{
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width:436px){
    .top_header_parent{

        .top_header_cont{
            .left{
                h1{
                    &:first-child{
                        display: none;
                    }
                }
            }
        }
    }
}